.date-time-picker-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.date-time-picker-container label {
    display: block;
    margin-bottom: 9px;
}



/* Calendar */
.calendar-section {
    flex-grow: 1;
}

.calendar-container {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.month-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month-switcher span {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.month-switcher button {
    background: #66BB6A;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 12px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    transition: transform 0.2s ease, border-color 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.month-switcher button:hover {
    background: #95bd97;
    color: #6B6B6B;
}

.month-switcher button:active {
    transform: scale(0.98);
}

button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.calendar-days {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.calendar-days .day {
    text-align: center;
    padding: 6px;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #333333;
    transition: background 0.3s ease, color 0.3s ease;
}

.calendar-days .day.inactive {
    background-color: #CCCCCC;
    color: #AAAAAA;
}

.calendar-days .day:hover {
    background-color: #b7e2ad;
    color: #6B6B6B;
}

.calendar-days .day.inactive:hover {
    background-color: #b3b3b3;
    color: #999999;
}

.calendar-days .day.selected {
    background-color: #66BB6A;
    color: #FFFFFF;
}

.today-button {
    padding: 5px 15px;
    font-size: 16px;
    background: #66BB6A;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    display: block;
    margin: 20px auto 0 auto;
    transition: transform 0.2s ease, background 0.5s ease, color 0.5s ease;
}

.today-button:hover {
    background: #95bd97;
    color: #6B6B6B;
}

.today-button:active {
    transform: scale(0.98);
}



/* Time */
.custom-time-picker {
    position: relative;
    width: 200px;
}

.time-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #8E8E8E;
    box-shadow: 0 0 8px rgba(51, 51, 51, 0.2);
    z-index: 10;
    max-height: 310px;
    overflow-y: auto;
}

.time-dropdown.active {
    display: flex;
    flex-direction: column;
}

.time-column {
    flex: 1;
    padding: 10px;
}

.time-dropdown button {
    display: block;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    padding: 8px 16px;
    border: none;
    background: #f9f9f9;
    cursor: pointer;
    text-align: center;
    margin-bottom: 8px;
    font-size: 14px;
    border-radius: 10px;
    transition: transform 0.3s ease, background 0.5s ease, color 0.5s ease;
}

.time-dropdown button:hover {
    background: #66BB6A;
    color: #FFFFFF;
    transform: scale(1.05);
}

.time-dropdown button:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(51, 51, 51, 0.2);
}
