/* Header */
.header-container {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c2c2c2;
}

.logo img {
    display: block;
    margin: 10px 10px 10px 100px;
}

.navigation {
    display: flex;
    gap: 60px;
    margin-left: 50px;
}

.navigation-link,
.login-container .login {
    color: #343434;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navigation-link:hover {
    color: #7e7e7e;
}

.login-container {
    margin-left: auto;
    margin-right: 100px;
}

.login-button,
.register-button {
    font-family: 'Nunito', sans-serif;
    background: #4CAF50;
    color: #FFFFFF;
    border: 1px solid #388E3C;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease, border-color 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.register-button:hover {
    background: #80c184;
    color: #585858;
    border-color: #81aa83;
}

.register-button:active {
    transform: scale(0.98);
}

.login-button {
    color: #343434;
    background: none;
    border: none;
    padding: 0;
    margin-right: 20px;
}

.login-button:hover {
    color: #7e7e7e;
}

.account img {
    display: block;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}



/* Footer */
.footer-container {
    background-color: #333333;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 80px;
}

.footer-navigation-container {
    display: flex;
    gap: 60px;
    margin-left: 50px;
}

.footer-heading {
    color: #FFFFFF;
    margin: 0;
    margin-top: 25px;
}

.footer-section ul {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 14px;
}

.footer-section li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.5s ease;
}

.footer-section a:hover {
    color: rgb(199, 199, 199);
}
