body {
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    background: url('../img/background.png') no-repeat center center fixed;
    background-color: #ADADAD;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
}



/* Registration */
.registration {
    position: relative;
    padding: 160px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.registration-container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.registration-title {
    color: #000000;
    font-size: 32px;
    margin: 10px 0 20px 0;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registration-form label {
    font-size: 16px;
    color: #4A4A4A;
    text-align: left;
    box-sizing: border-box;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ADADAD;
    border-radius: 10px;
    box-sizing: border-box;
}

.submit-button {
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #4E3746;
    border: 3px solid #2c1e27;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.submit-button:hover {
    background-color: #5a3e50;
}

.form-links {
    margin-top: 10px;
    text-align: center;
}

.form-link {
    color: #4E3746;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

.form-link:hover {
    text-decoration: underline;
}
