body {
    font-family: 'Nunito', sans-serif;
    color: #333333;
    background: url('../img/background.png') no-repeat center center fixed;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
}



/* Sidebar */
main {
    display: flex;
    min-height: calc(100vh - 60px);
}

.sidebar {
    width: 20%;
    padding: 20px;
    background: #ebe5d4;
    border-right: 1px solid #c2c2c2;
}

.sidebar h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 15px 0;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin-right: 20px;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.profile-info p {
    font-size: 18px;
    margin: 0;
}

.field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.field label {
    width: 25%;
}

.field input {
    flex-grow: 1;
    color: #2C2C2C;
    padding: 5px 10px;
    border: 1px solid #8E8E8E;
    border-radius: 5px;
    font-size: 14px;
}

.menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: auto;
}

.menu-button {
    font-family: 'Nunito', sans-serif;
    background: #66BB6A;
    color: #FFFFFF;
    border: 1px solid #4CAF50;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease, border-color 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.menu-button:hover {
    background: #95bd97;
    color: #6B6B6B;
    border-color: #81aa83;
}

.menu-button:active {
    transform: scale(0.98);
}

.logout-button {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 30%;
    margin: 0 auto;
    background: #bb6666;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    padding: 6px 0;
}

.logout-button:hover {
    background-color: #c59191;
    color: #6B6B6B;
}

.logout-button:active {
    transform: scale(0.98);
}

.logout-icon {
    display: block;
    margin: 0;
    filter: invert(100%);
    width: 20px;
    height: 20px;
    transition: filter 0.5s ease;
}

.logout-button:hover .logout-icon {
    filter: invert(45%);
}

.line {
    margin: 20px 0;
    border-top: 1px solid #a39b83;
}



/* Schedule */
.schedule {
    flex-grow: 1;
    background: rgba(245, 245, 220, 0.9);
    padding: 20px;
    overflow-y: auto;
}

.list-header {
    display: flex;
    justify-content: center;
}

.list-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.clear-employee-search-button,
.clear-record-search-button {
    background: #66BB6A;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: transform 0.2s ease, background 0.5s ease, color 0.5s ease;
}

.clear-employee-search-button:hover,
.clear-record-search-button:hover {
    background: #95bd97;
    color: #6B6B6B;
}

.clear-employee-search-button:active,
.clear-record-search-button:active {
    transform: scale(0.98);
}

.search-container input {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #8E8E8E;
    outline: none;
}

.no-employees-found,
.no-records-found {
    font-size: 18px;
    color: #ff6f61;
    text-align: center;
    font-weight: bold;
}

.employee-list,
.record-list {
    width: 100%;
    max-width: 150vh;
    padding: 10px;
    box-sizing: border-box;
}

.employee-item,
.record-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333333;
    padding: 8px 25px;
    border: 1px solid rgba(51, 51, 51, 0.4);
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(51, 51, 51, 0.2);
}

.employee-list,
.record-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.employee-item .full-name {
    flex: 2;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    text-align: left;
    margin-right: 30px;
}

.employee-item .job-title {
    flex: 2;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.9);
    margin-right: 30px;
}

.employee-item .job-title p {
    margin: 0;
}

.employee-item .employee-id {
    flex: 2;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.9);
    margin: 0;
    text-align: left;
    margin-right: 30px;
}

.employee-item .status-icons
.record-item .status-icons {
    flex: 0;
    display: flex;
    gap: 10px;
}

.record-item .full-name {
    flex: 2;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    text-align: left;
    margin-right: 50px;
}

.record-item .price {
    flex: 1;
    font-size: 18px;
    color: rgba(51, 51, 51, 0.9);
    text-align: left;
    margin-right: 20px;
}

.record-item .record-employees {
    flex: 2;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.9);
    margin-right: 20px;
}

.record-item .record-employees p {
    margin: 0;
}

.record-item .record-description {
    flex: 2;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.9);
    margin: 0;
    text-align: left;
    margin-right: 20px;
}

.record-item .record-adress {
    flex: 2;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.9);
    margin: 0;
    text-align: left;
    margin-right: 20px;
}

.status-icons button {
    font-family: 'Nunito', sans-serif;
    background: #66BB6A;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease, background 0.5s ease, color 0.5s ease;
}

.status-icons button:hover {
    background: #95bd97;
    color: #6B6B6B;
}

.status-icons button:active {
    transform: scale(0.98);
}

.status-icons button img {
    transition: transform 0.2s ease, filter 0.5s ease;
}

.status-icons button:hover img {
    filter: brightness(0.5);
}

.status-icons button:active img {
    transform: scale(0.95);
}



/* Password */
.password-visibility,
.edit-password-visibility {
    font-family: 'Nunito', sans-serif;
    margin: 0 auto 0 0;
    width: 35%;
    background-color: #D1D1D1;
    border: 1px solid #8E8E8E;
    border-radius: 15px;
    padding: 8px 12px;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.password-visibility:hover,
.edit-password-visibility:hover {
    background-color: #E4E4E4;
    border-color: #999999;
    color: #535353;
}

.password-visibility:active,
.edit-password-visibility:active {
    background-color: #D0D0D0;
    transform: scale(0.98);
}
