body {
    font-family: 'Nunito', sans-serif;
    color: #333333;
    background: url('../img/background.png') no-repeat center center fixed;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
}



/* Hero */
.hero {
    position: relative;
    padding-top: 160px;
    text-align: center;
    background: rgba(245, 245, 220, 0.9);
}

.hero-container {
    position: relative;
    z-index: 1;
}

.hero-title, .hero-text {
    color: #1d1d1d;
    margin: 0 0 20px;
    padding: 0;
}

.hero-title {
    font-size: 32px;
}

.hero-text {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 120px;
}

.hero-button {
    padding: 15px 30px;
    font-size: 20px;
    background: #66BB6A;
    color: #FFFFFF;
    border: 1px solid #4CAF50;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 250px;
    font-family: 'Nunito', sans-serif;
    transition: transform 0.2s ease, border-color 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.hero-button:hover {
    background: #95bd97;
    color: #6B6B6B;
    border-color: #81aa83;
}

.hero-button:active {
    transform: scale(0.98);
}
