body {
    font-family: 'Nunito', sans-serif;
    color: #333333;
    background: url('../img/background.png') no-repeat center center fixed;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
}



/* Form */
.sign {
    position: relative;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 245, 220, 0.9);
}

.sign-container {
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(51, 51, 51, 0.2);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.sign-title {
    color: #333333;
    font-size: 32px;
    margin: 10px 0 20px 0;
}

.sign-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign-form label {
    font-size: 16px;
    color: #333333;
    text-align: left;
    box-sizing: border-box;
}

.sign-form input,
.sign-form textarea,
.sign-form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #303030;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.sign-form textarea {
    color: #303030;
    max-width: 600px;
    min-width: 600px;
    max-height: 270px;
    min-height: 45px;
}

.submit-button {
    padding: 10px;
    margin: 20px auto 0 auto;
    width: 50%;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #66BB6A;
    border: 1px solid #4CAF50;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    transition: transform 0.2s ease, border-color 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.submit-button:hover {
    background: #95bd97;
    color: #6B6B6B;
    border-color: #81aa83;
}

.submit-button:active {
    transform: scale(0.98);
}

.error-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    z-index: 999;
}
