<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href='/css/style-login.css'>
    <link rel="stylesheet" href='/css/style-header-footer.css'>
    <title>Lunara — Вход</title>
</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="logo-container">
                <a href="/" class="logo">
                    <img src="https://via.placeholder.com/50" alt="Логотип">
                </a>
            </div>
            <div class="navigation-container">
                <nav class="navigation">
                    <a href="#" class="navigation-link">Возможности</a>
                    <a href="#" class="navigation-link">Контакты</a>
                    <a href="#" class="navigation-link">Запись</a>
                </nav>
            </div>
            <div class="login-container">
                <a href="/admin/login" class="login">
                    <img src="https://via.placeholder.com/50" alt="Войти">
                    <p>Войти</p>
                </a>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="login-section">
            <div class="login-box">
                <h1 class="login-title">Вход</h1>
                <form class="login-form-admin" method="post" action="/admin/login">
                    <label for="login" class="form-label">Логин</label>
                    <input type="text" id="login" name="login" class="form-input">

                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" name="password" id="password" class="form-input">

                    <button type="submit" class="form-button">Войти как администратор</button>
                </form>
                <div class="links">
                    <a href="/admin/registration" class="registration-link">Создать аккаунт организации</a>
                    <a href="/employee/login" class="login-employee-link">Войти как сотрудник</a>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="logo-container">
                <a href="/" class="logo">
                    <img src="https://via.placeholder.com/50" alt="Логотип">
                </a>
            </div>
            <div class="footer-navigation-container">
                <div class="footer-section">
                    <p class="footer-heading">Компания</p>
                    <ul>
                        <li><a href="#" class="footer-link">О нас</a></li>
                        <li><a href="#" class="footer-link">Отзывы</a></li>
                        <li><a href="#" class="footer-link">База знаний</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <p class="footer-heading">Возможности</p>
                    <ul>
                        <li><a href="#" class="footer-link">Онлайн-запись</a></li>
                        <li><a href="#" class="footer-link">Уведомления</a></li>
                        <li><a href="#" class="footer-link">Аналитика</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <p class="footer-heading">Правовая информация</p>
                    <ul>
                        <li><a href="#" class="footer-link">Пользовательское соглашение</a></li>
                        <li><a href="#" class="footer-link">Конфиденциальность</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script type="module" src="./js/login-form-admin.js"></script>
</body>
</html>