<form method='post'>
    <p><input name='name' placeholder="укажите свое ФИО"/></p>
    <p><input name='master' placeholder="укажите ФИО мастера"/></p>
    <p><input name='price' placeholder="укажите стоимость услуги"/></p>
    <input type='submit' value='Отправить форму' />
</form>