<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href='/css/style-index.css'>
    <link rel="stylesheet" href='/css/style-header-footer.css'>
    <title>Lunara — CRM система для записи клиентов</title>
</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="logo-container">
                <a href="/" class="logo">
                    <img src="../img/logo.png" width="50" height="50" alt="Логотип">
                    <h1>Lunara</h1>
                </a>
            </div>
            <div class="navigation-container">
                <nav class="navigation">
                    <a href="#" class="navigation-link">Возможности</a>
                    <a href="#" class="navigation-link">Контакты</a>
                    <a href="#" class="navigation-link">Запись</a>
                </nav>
            </div>
            <div class="login-container">
                <button class="login-button" onclick="window.location.href='/admin/login'">Войти</button>
                <button class="register-button" onclick="window.location.href='/admin/registration'">Зарегистрироваться</button>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="hero">
            <div class="hero-container">
                <h1 class="hero-title">CRM система для онлайн-записи клиентов Вашего бизнеса</h1>
                <p class="hero-text">
                    Позвольте клиентам удобно записываться на Ваши услуги, автоматизируйте управление расписанием,<br> 
                    ведение клиентской базы и отправку уведомлений
                </p>
                <a href="/admin/registration"><button type="button" class="hero-button">Попробовать бесплатно</button></a>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="logo-container">
                <a href="/" class="logo">
                    <img src="../img/logo.png" width="50" height="50" alt="Логотип">
                </a>
            </div>
            <div class="footer-navigation-container">
                <div class="footer-section">
                    <p class="footer-heading">Компания</p>
                    <ul>
                        <li><a href="#" class="footer-link">О нас</a></li>
                        <li><a href="#" class="footer-link">Отзывы</a></li>
                        <li><a href="#" class="footer-link">База знаний</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <p class="footer-heading">Возможности</p>
                    <ul>
                        <li><a href="#" class="footer-link">Онлайн-запись</a></li>
                        <li><a href="#" class="footer-link">Уведомления</a></li>
                        <li><a href="#" class="footer-link">Аналитика</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <p class="footer-heading">Правовая информация</p>
                    <ul>
                        <li><a href="#" class="footer-link">Пользовательское соглашение</a></li>
                        <li><a href="#" class="footer-link">Конфиденциальность</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

