@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRM System</h1>
    <p>Фантазеры team</p>
    <form method='post'>
        <p>Введите логин мастера:</p>
        <input name="MasterLogin">
        <p>Введите пароль мастера</p>
        <input name="MasterPassword">
        <input type="submit" value="Войти">
    </form>
</div>
