.add-record,
.edit-record,
.add-employee,
.edit-employee {
    position: relative;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(142, 142, 142, 0.7);
    box-shadow: 0 0 8px rgba(142, 142, 142, 0.3);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.record-form-title,
.edit-record-form-title,
.employee-form-title,
.edit-employee-form-title {
    color: #343434;
    font-size: 32px;
    margin: 10px 0 20px 0;
}

.record-form,
.edit-record-form,
.employee-form,
.edit-employee-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.record-form label,
.edit-record-form label,
.employee-form label,
.edit-employee-form label {
    font-size: 16px;
    color: #343434;
    text-align: left;
    box-sizing: border-box;
}

.record-form input,
.record-form textarea,
.record-form select,
.edit-record-form input,
.edit-record-form textarea,
.edit-record-form select,
.employee-form input,
.employee-form textarea,
.employee-form select,
.edit-employee-form input,
.edit-employee-form textarea,
.edit-employee-form select {
    font-family: 'Nunito', sans-serif;
    color: #343434;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.record-form input:focus,
.record-form textarea:focus,
.record-form select:focus,
.edit-record-form input:focus,
.edit-record-form textarea:focus,
.edit-record-form select:focus,
.employee-form input:focus,
.employee-form textarea:focus,
.employee-form select:focus,
.edit-employee-form input:focus,
.edit-employee-form textarea:focus,
.edit-employee-form select:focus {
    border-color: #505050;
    outline: none;
}

.record-form textarea,
.edit-record-form textarea,
.employee-form textarea,
.edit-employee-form textarea {
    color: #343434;
    max-width: 600px;
    min-width: 600px;
    max-height: 270px;
    min-height: 45px;
}

.submit-button,
.edit-submit-button {
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    margin: 20px auto 0 auto;
    width: 50%;
    font-size: 18px;
    background: #4CAF50;
    color: #FFFFFF;
    border: 1px solid #388E3C;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    transition: transform 0.2s ease, border-color 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.submit-button:hover,
.edit-submit-button:hover {
    background: #80c184;
    color: #585858;
    border-color: #81aa83;
}

.submit-button:active,
.edit-submit-button:active {
    transform: scale(0.98);
}

#password-error {
    color: red;
    font-size: 16px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#password-error.show {
    display: block;
    opacity: 1;
}






@media (max-width: 920px) {
    .add-record,
    .edit-record,
    .add-employee,
    .edit-employee {
        width: 85%;
    }

    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 475px;
        min-width: 475px;
    }
}

@media (max-width: 912px) {
    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 565px;
        min-width: 565px;
    }
}

@media (max-width: 853px) {
    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 515px;
        min-width: 515px;
    }
}

@media (max-width: 820px) {
    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 492px;
        min-width: 492px;
    }
}

@media (max-width: 768px) {
    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 600px;
        min-width: 600px;
    }
}

@media (max-width: 640px) {
    .add-record,
    .edit-record,
    .add-employee,
    .edit-employee {
        width: 80%;
    }

    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 475px;
        min-width: 475px;
    }
}

@media (max-width: 540px) {
    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 400px;
        min-width: 400px;
    }
}

@media (max-width: 480px) {
    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 345px;
        min-width: 345px;
    }
}

@media (max-width: 430px) {
    .add-record,
    .edit-record,
    .add-employee,
    .edit-employee {
        width: 75%;
    }

    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 293px;
        min-width: 293px;
    }
}

@media (max-width: 414px) {
    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 281px;
        min-width: 281px;
    }
}

@media (max-width: 390px) {
    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 263px;
        min-width: 263px;
    }
}

@media (max-width: 375px) {
    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 250px;
        min-width: 250px;
    }
}

@media (max-width: 360px) {
    .add-record,
    .edit-record,
    .add-employee,
    .edit-employee {
        width: 73%;
    }

    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 234px;
        min-width: 234px;
    }
}

@media (max-width: 344px) {
    .add-record,
    .edit-record,
    .add-employee,
    .edit-employee {
        width: 73%;
    }

    .record-form textarea,
    .edit-record-form textarea,
    .employee-form textarea,
    .edit-employee-form textarea {
        max-width: 222px;
        min-width: 222px;
    }
}
