body {
    font-family: 'Nunito', sans-serif;
    color: #343434;
    background: url('../img/account-background.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
}



/* Sidebar */
main {
    display: flex;
    min-height: calc(100vh - 60px);
}

.sidebar {
    width: 20%;
    padding: 20px;
    background: #F5F5F5;
    border-right: 1px solid #c2c2c2;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: #FFFFFF;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avatar img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin-right: 10px;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.profile-info input {
    width: 100%;
    color: #343434;
    background: #FFFFFF;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
}

.profile-info p {
    font-size: 18px;
    margin: 0;
}

.info {
    margin: 0;
    padding: 10px 20px;
    background: #FFFFFF;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.field:last-child {
    margin-bottom: 0;
}

.field label {
    width: 25%;
    font-size: 16px;
    text-align: left;
}

.field input {
    width: 75%;
    color: #343434;
    background: #F5F5F5;
    padding: 5px 10px;
    border: 1px solid #8E8E8E;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.field input:focus {
    border-color: #505050;
    outline: none;
}

.month-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.month-switcher span {
    font-size: 18px;
    font-weight: bold;
}

.month-switcher button {
    background: #4CAF50;
    color: #FFFFFF;
    border: 1px solid #388E3C;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 12px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    transition: transform 0.2s ease, border-color 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.month-switcher button:hover {
    background: #80c184;
    color: #585858;
    border-color: #81aa83;
}

.month-switcher button:active {
    transform: scale(0.98);
}

.calendar-days {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.calendar-days .day {
    text-align: center;
    padding: 6px;
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.calendar-days .day.inactive {
    background-color: #CCCCCC;
    color: #AAAAAA;
}

.calendar-days .day:hover {
    background-color: #8fe692;
    color: #6B6B6B;
}

.calendar-days .day.inactive:hover {
    background-color: #b3b3b3;
    color: #999999;
}

.calendar-days .day.selected {
    background-color: #4CAF50;
    color: #FFFFFF;
}

.today-button {
    padding: 5px 15px;
    font-size: 16px;
    background: #4CAF50;
    color: #FFFFFF;
    border: 1px solid #388E3C;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    display: block;
    margin: 20px auto 0 auto;
    transition: transform 0.2s ease, border-color 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.today-button:hover {
    background: #80c184;
    color: #585858;
    border-color: #81aa83;
}

.today-button:active {
    transform: scale(0.98);
}

.logout-button {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 30%;
    margin: 0 auto;
    background: #F44336;
    color: #FFFFFF;
    border: 1px solid #D32F2F;
    font-weight: bold;
    border-radius: 8px;
    padding: 6px 0;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease, border-color 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.logout-button:hover {
    background: #E57373;
    color: #585858;
    border-color: rgb(185, 81, 86);
}

.logout-button:active {
    transform: scale(0.98);
}

.logout-icon {
    display: block;
    margin: 0;
    filter: invert(100%);
    width: 20px;
    height: 20px;
    transition: filter 0.5s ease;
}

.logout-button:hover .logout-icon {
    filter: invert(35%);
}

.line {
    margin: 20px 0;
    border-top: 1px solid #c2c2c2;
}






@media (max-width: 1746px) {
    .field label {
        width: 100px;
    }
}

@media (max-width: 1440px) {
    .sidebar {
        width: 25%;
    }

    .profile {
        flex-direction: column;
    }

    .avatar img {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .profile-info {
        align-items: center;
    }

    .field {
        flex-direction: column;
    }

    .field input {
        width: 95%;
    }

    .field label {
        margin-bottom: 4px;
        align-self: flex-start;
    }

    .logout-button {
        width: 40%;
    }
}

@media (max-width: 1200px) {
    .logout-button {
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .sidebar {
        width: 30%;
    }

    .logout-button {
        width: 50%;
    }
}

@media (max-width: 853px) {
    .logout-button {
        width: 60%;
    }
}

@media (max-width: 820px) {
    .sidebar {
        width: 35%;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        margin: 0;
    }

    .sidebar {
        padding: 0;
        padding-bottom: 20px;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #c2c2c2;
    }

    .sidebar h1 {
        margin-top: 20px;
    }

    .profile-container {
        display: flex;
        flex-direction: row;
    }

    .profile, .info {
        margin: 10px;
    }

    .profile {
        flex-direction: row;
        width: 40%;
        justify-content: space-evenly;
    }

    .avatar img {
        margin: 0 20px 0 0;
    }

    .info {
        width: 60%;
    }

    .profile-info {
        align-items: start;
    }

    .field {
        flex-direction: row;
    }

    .calendar {
        padding: 0 30px;
    }
}

@media (max-width: 640px) {
    .field input {
        width: 80%;
    }

    .profile-container {
        flex-direction: column;
    }

    .profile, .info {
        width: 80%;
        margin: 10px auto;
    }
}






/* Schedule */
.schedule {
    flex-grow: 1;
    background: rgba(245, 245, 245, 0.9);
    padding: 20px;
    overflow-y: auto;
    width: 80%;
}

.date-header {
    display: flex;
    justify-content: center;
}

.date-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.time-slots {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.slot {
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: #343434;
    padding: 8px 25px;
    border: 1px solid rgba(142, 142, 142, 0.7);;
    border-radius: 10px;
    background: #FFFFFF;
    margin-bottom: 10px;
    box-shadow: 0 0 8px rgba(142, 142, 142, 0.3);
    transition: background 0.5s, color 0.5s, border-color 0.5s, box-shadow 0.5s;
}

.slot .time,
.slot .title,
.slot .client-info,
.slot .comment,
.slot button {
    transition: color 0.5s, opacity 0.5s, background 0.5s, border-color 0.5s;
}

.slot.finished {
    background: #fafafa;
    color: #a0a0a0;
    border-color: rgba(142, 142, 142, 0.2);
    box-shadow: none;
}

.slot.finished .time,
.slot.finished .title,
.slot.finished .client-info,
.slot.finished .comment {
    color: #a0a0a0;
}

.slot.finished button {
    opacity: 0.3;
    background: #80c184;
    color: #585858;
    border-color: #81aa83;
}

.slot .time {
    flex: 1;
    margin: 10px 20px 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #343434;
    text-align: left;
}

.slot .title {
    flex: 2;
    margin: 10px 20px 10px 0;
    font-size: 16px;
    color: rgba(52, 52, 52, 0.9);
    text-align: left;
}

.title, .client-info p, .comment {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
    box-sizing: border-box;
}

.slot .client-info {
    flex: 2;
    margin: 10px 20px 10px 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: rgba(52, 52, 52, 0.9);
}

.slot .client-info p {
    margin: 0;
}

.slot .comment {
    flex: 2;
    margin: 10px 20px 10px 0;
    font-size: 14px;
    color: rgba(52, 52, 52, 0.9);
    text-align: left;
}

.slot .status-icons {
    flex: 0;
    display: flex;
    gap: 5px;
}

.status-icons button {
    background: #4CAF50;
    margin: 10px 0 10px 0;
    color: #FFFFFF;
    border: 1px solid #388E3C;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease, border-color 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.status-icons button:hover {
    background: #80c184;
    color: #585858;
    border-color: #81aa83;
}

.status-icons button:active {
    transform: scale(0.98);
}

button.disabled {
    cursor: not-allowed;
}






@media (max-width: 7680px) {
    .slot {
        max-width: 158vh;
    }
}

@media (max-width: 2880px) {
    .slot {
        max-width: 154vh;
    }
}

@media (max-width: 2560px) {
    .slot {
        max-width: 153vh;
    }
    
    .profile-info input {
        width: 140%;
    }
}

@media (max-width: 2400px) {
    .slot {
        max-width: 152vh;
    }

    .profile-info input {
        width: 120%;
    }
}

@media (max-width: 1920px) {
    .slot {
        max-width: 150vh;
    }
    
    .profile-info input {
        width: 100%;
    }
}

@media (max-width: 1600px) {
    .slot {
        max-width: 149vh;
    }
}

@media (max-width: 1440px) {
    .slot {
        max-width: 151vh;
    }
}

@media (max-width: 1200px) {
    .slot {
        max-width: 148vh;
        flex-direction: column;
    }

    .slot .time {
        margin: 10px 30px 10px 0;
    }

    .slot .title {
        margin: 10px 30px 10px 0;
    }
    
    .slot .client-info {
        margin: 10px 30px 10px 0;
    }
    
    .slot .comment {
        margin: 10px 30px 10px 0;
    }
}

@media (max-width: 768px) {
    .slot {
        max-width: 100%;
    }
}
