body {
    font-family: 'Nunito', sans-serif;
    color: #343434;
    background: linear-gradient(rgba(245, 245, 245, 0.93), rgba(245, 245, 245, 0.93)), url('../img/background.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}



/* Hero */
.hero {
    position: relative;
    padding-top: 160px;
    text-align: center;
}

.hero-container {
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.hero-title, .hero-text {
    color: #252525;
    margin: 0 0 20px;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-title {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero-text {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 120px;
}

.hero-button {
    padding: 15px 30px;
    font-size: 20px;
    background: #4CAF50;
    color: #FFFFFF;
    border: 1px solid #388E3C;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 250px;
    font-family: 'Nunito', sans-serif;
    transition: transform 0.2s ease, border-color 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.hero-button:hover {
    background: #80c184;
    color: #585858;
    border-color: #81aa83;
}

.hero-button:active {
    transform: scale(0.98);
}






@media (max-width: 1600px) {
    .hero-container {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .hero-container {
        width: 80%;
    }
}

@media (max-width: 640px) {
    .hero-container {
        width: 70%;
    }
}





/* Features */
.features {
    padding: 130px 0;
    background-color: #f5f5f5;
    text-align: center;
    border-top: 1px solid #c2c2c2;
}

.features-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.feature-item:last-child {
    margin-bottom: 130px;
}

.feature-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.feature-item h1 {
    margin: 0;
    margin-top: 30px;
}

.feature-text {
    width: 90%;
    font-size: 18px;
    color: #343434;
    font-weight: normal;
    line-height: 1.5;
    margin: 40px 0;
}

.line {
    margin: 20px 0;
    border-top: 1px solid #c2c2c2;
}





@media (max-width: 1280px) {
    .features-container {
        max-width: 1200px;
    }

    .feature-image {
        border-radius: 18px;
    }
}

@media (max-width: 1098px) {
    .features-container {
        max-width: 1000px;
    }

    .feature-image {
        border-radius: 16px;
    }
}

@media (max-width: 1024px) {
    .features-container {
        max-width: 900px;
    }

    .feature-image {
        border-radius: 14px;
    }
}

@media (max-width: 912px) {
    .features-container {
        max-width: 800px;
    }
}

@media (max-width: 853px) {
    .features-container {
        max-width: 770px;
    }
}

@media (max-width: 820px) {
    .features-container {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    .features-container {
        max-width: 700px;
    }

    .feature-image {
        border-radius: 12px;
    }
}

@media (max-width: 640px) {
    .features-container {
        max-width: 600px;
    }

    .feature-image {
        border-radius: 10px;
    }
}

@media (max-width: 540px) {
    .features-container {
        max-width: 500px;
    }
}

@media (max-width: 480px) {
    .features-container {
        max-width: 450px;
    }

    .feature-image {
        border-radius: 8px;
    }
}

@media (max-width: 430px) {
    .features-container {
        max-width: 380px;
    }
}

@media (max-width: 390px) {
    .features-container {
        max-width: 350px;
    }

    .feature-image {
        border-radius: 6px;
    }
}

@media (max-width: 360px) {
    .features-container {
        max-width: 320px;
    }
}
