body {
    font-family: 'Nunito', sans-serif;
    color: #343434;
    background: linear-gradient(rgba(245, 245, 245, 0.9), rgba(245, 245, 245, 0.9)), url('../img/account-background.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
}



/* Registration */
.registration {
    position: relative;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-container {
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(142, 142, 142, 0.7);
    box-shadow: 0 0 8px rgba(142, 142, 142, 0.3);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.registration-title {
    color: #343434;
    font-size: 32px;
    margin: 10px 0 20px 0;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registration-form label {
    font-size: 16px;
    color: #343434;
    text-align: left;
    box-sizing: border-box;
}

.registration-form input {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    color: #343434;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

.registration-form input:focus {
    border-color: #505050;
}

.password-visibility {
    font-family: 'Nunito', sans-serif;
    margin: 0 auto 0 0;
    background-color: #F5F5F5;
    border: 1px solid #8E8E8E;
    border-radius: 8px;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.password-visibility:hover {
    background-color: #cecece;
    border-color: #858585;
}

.password-visibility:active {
    transform: scale(0.98);
}

#password-error {
    color: red;
    font-size: 16px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#password-error.show {
    display: block;
    opacity: 1;
}

.confirm-password-container {
    display: flex;
    align-items: center;
}

.confirm-password-container input {
    margin-right: 10px;
}

.password-visibility img {
    display: block;
    width: 25px;
    height: 25px;
}

.submit-button {
    padding: 10px;
    margin: 20px auto 0 auto;
    width: 70%;
    font-size: 18px;
    background: #4CAF50;
    color: #FFFFFF;
    border: 1px solid #388E3C;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    transition: transform 0.2s ease, border-color 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.submit-button:hover {
    background: #80c184;
    color: #585858;
    border-color: #81aa83;
}

.submit-button:active {
    transform: scale(0.98);
}

.links {
    margin-top: 20px;
    text-align: center;
}

.login-employee-link,
.login-admin-link {
    color: #2b502d;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-top: 10px;
    transition: color 0.5s ease;
}

.login-employee-link:hover,
.login-admin-link:hover {
    color: #0c1f0c;
}






@media (max-width: 740px) {
    .registration-container {
        width: 80%;
    }
}

@media (max-width: 615px) {
    .registration-container {
        width: 75%;
    }
}

@media (max-width: 384px) {
    .registration-container {
        width: 70%;
    }

    .submit-button {
        width: 80%;
    }
}

@media (max-width: 344px) {
    .submit-button {
        width: 90%;
    }
}
